main {
    width: 100vw;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

section {
    width: 70%;
    margin: auto;
    border: 1px solid lightgray;
    height: 500px;
    display: flex;
    justify-content: space-around; 
    align-items: center;
    flex-direction: column;
}

h2 {
    text-align: center;
    justify-self: flex-start;
}

#animacao1 {
    width: 100px;
    height: 50px;
    border: 2px solid black;
    border-radius: 40px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 3s;
    cursor: pointer;
}

.pulsar {
    animation: pulso 0.4s;
}

@keyframes pulso {
    0% {
        transform: scale(1);
        background-color: green;
    }
    50% {
        transform: scale(1.2);
        background-color:white;
        color: black;
    }
    100% {
        transform: scale(1);
        background-color: green;
    }
}




#animacao2 {
    width: 150px;
    height: 50px;
    border: 2px solid black;
    border-radius: 40px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.8s ease, background-color 0.8s ease, color 0.8s ease;
    cursor: pointer;
}


#animacao2:hover {
    transform: scale(1.2); 
    background-color: white;
    color: black;
}

#animacao3 {
    width: 150px;
    height: 50px;
    background-color: green;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
}


#animacao3:hover {
    animation: pular 1.0s ease;
}


@keyframes pular {
    0%   { transform: translateY(0); }
    30%  { transform: translateY(-25px); }
    60%  { transform: translateY(5px); }
    100% { transform: translateY(0); }
}